<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neusoft.coursemgr.mapper.CartMapper">

    <select id="selectCartIdByUserId" parameterType="long" resultType="long">
        SELECT id FROM cart_table WHERE user_id = #{userId}
    </select>

    <insert id="insertCart" parameterType="long">
        INSERT INTO cart_table (user_id) VALUES (#{userId})
    </insert>

</mapper>
